<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
</head>
<body>
<div><a href="/bookstore/add">添加图书</a></div>
<table>
    <tr>
        <td>id</td>
        <td>书名</td>
        <td>出版社</td>
        <td>定价</td>
        <td>零售价</td>
        <td>删除</td>
        <td>修改</td>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.pub }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.market_price }}</td>
        <td><a href="/bookstore/del/{{ book.id }}">删除</a></td>
        <td><a href="/bookstore/mod/{{ book.id }}">修改</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>